@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-aeonik: 'GtEestiProDisplay';

  --color-inferno: #ff5533;
  --color-outrageous-orange: #ff6a4c;
  --color-cinnabar: #df4a2c;
  --color-yellow-sea: #ffaa00;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-charcoal: #333333;
  --color-anti-flash-white: #f2f2f2;
  --color-chinese-white: #e0e0e0;
  --color-gray-x11: #bababa;
  --color-dav-ys-grey: #545454;
  --color-ue-red: #c00000;
  --color-sonic-silver: #757575;

  --breakpoint-xlg: 1184px;

  --spacing-section: calc(1136px + 24px * 2);
  --spacing-sidebar: calc(100vw - 64px);

  --bg-gradient-shadow: linear-gradient(180deg, #0000 0, #0009 80%, #0009 100%);
  --shadow-sidebar: 0 2px 4px rgba(0, 0, 0, 0.25);

  --grid-cols-auto-fill: repeat(
    auto-fill,
    minmax(max(134px, (100% - (4 - 1) * 8px)/4), 1fr)
  );

  --shadow-soft-drop: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
  --shadow-deep: 0 2px 54px rgba(0, 0, 0, 0.1);

  --animate-fade-in: fade-in 0.3s;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@utility z-overlay {
  --overlay: 10104;
  z-index: calc(var(--overlay) - 1);
}

@utility scrollbar-hidden {
  scrollbar-width: none;
}

@utility arrow-hidden {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@utility grid-cols-* {
  grid-template-columns: --value(--grid-cols-*);
}

@utility bg-gradient-* {
  background-image: --value(--bg-gradient-*);
}
