@import "tailwindcss";

@theme {
  --color-inferno: "#0071eb",
  --color-outrageous-orange: "#FF6A4C",
  --color-cinnabar: "#DF4A2C",
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-charcoal: #333333;
  --color-anti-flash-white: #f2f2f2;
  --color-chinese-white: #e0e0e0;

  --breakpoint-xlg: 1184px;

  --spacing-section: calc(1136px + 24px * 2);
}
