@import 'tailwindcss';

@theme {
  --font-gt-eesti: 'GTEesti';

  --color-inferno: #ff5533;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue-fire: #0071eb;
  --color-camouflage-blue: #304c84;
  --color-abstract-navy: #1a2b49;
  --color-nevada: #63687a;
  --color-cayenne-red: #c72a3d;
  --color-bright-grey: #ebeef1;
  --color-trout: #494d58;
  --color-dark-jade: #007850;
  --color-faded-white: #dcdfe4;
  --color-pewter-metallic: #858995;

  --spacing-modal-height: calc(100vh - 160px);
  --spacing-media-photo: calc(100vh - 72px);

  --bg-gradient-shadow: linear-gradient(180deg, #0000 0, #0009 80%, #0009 100%);

  --grid-cols-auto-fill: repeat(
    auto-fill,
    minmax(max(134px, (100% - (4 - 1) * 8px)/4), 1fr)
  );

  --shadow-soft-drop: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
  --shadow-main: 0 0 64px #00000014, 0 8px 16px #00000029;
  --shadow-main-small: 0 0 32px #0000000f, 0 4px 8px #00000029;
  --shadow-tab-inset: inset 0 -4px 0 0 var(--color-blue-fire);
  --shadow-tab-inset-error: inset 0 -4px 0 0 var(--color-cayenne-red);

  --animate-fade-in: fade-in 0.3s;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@utility z-overlay {
  --overlay: 10104;
  z-index: calc(var(--overlay) - 1);
}

@utility scrollbar-hidden {
  scrollbar-width: none;
}

@utility grid-cols-* {
  grid-template-columns: --value(--grid-cols-*);
}

@utility bg-gradient-* {
  background-image: --value(--bg-gradient-*);
}

@utility bg-dotted-line {
  --dotted-line: url('/dotted-line.svg');
  background-image: var(--dotted-line);
  background-position: 50%;
  background-repeat: repeat-y;
  background-size: 32px;
}

@utility underline-premium {
  text-underline-offset: 24%;
  text-decoration: underline;
  text-decoration-thickness: calc(1em / 10);
}
